@import '~bootstrap/scss/bootstrap';


h1 {
    font-family: 'Lobster Regular';
    src: url('public/Lobster-Regular.ttf') format('cursive');
    text-align: center;
    color: red;
}
h2 {
    color: red;

}